

#heading{
	clear: both;
}
#buttons-block{
	 margin-left: auto;
	 margin-right: 0;
	 vertical-align: middle; 
	 margin-top: 20px;
}

.twitch-link {
	width: 80px;
	margin-left: auto;
	margin-right: 0;
	margin-bottom: 2px;

}

.twitch-link.active{
	color: #fff;
	width: 120px;
}

.all{
	color: #007AC1;
	background: #007AC1;
}

.online{
	color: #20A148;
	background: #20A148;
}

.offline{
	color: #aaa;
	background: #aaa;
}

div.offline:hover, div.online:hover, div.all:hover{
	color: #fff;
	background: #00f28f;
	width: 120px;
	transition: background 2s, color 2s, width 1.5s;
}

a:hover {
	text-decoration: none;
	}

