#heading{
	clear: both;
}
#buttons-block{
	 margin-left: auto;
	 margin-right: 0;
	 vertical-align: middle;
	 
	 margin-top: 20px;
}

#all, #online, #offline {
	margin-left: auto;
	margin-right: 0;
	margin-bottom: 2px;
	background: #aaa;
	width: 80px;
}

div#all:hover{
	background: #00f28f;
	/*transform: scaleX(1.3);*/
	width: 120px;
	transition: background 2s, color 2s, width 3s;
} 	

div#online:hover{
	background: #00f28f;
	/*transform: scaleX(1.3);*/
	width: 120px;
	transition: background 2s, color 2s, width 3s;
}

div#offline:hover{
	background: #00f28f;
	/*transform: scaleX(1.3);*/
	width: 120px;
	transition: background 2s, color 2s, width 3s;
	transform: translateX(-20); 
}